<launch>
  <param name="use_sim_time" value="true" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find adrien_driver)/rviz/localization.rviz" />

  <arg name="bag"/>

  <node name="bag_view" pkg="rosbag" type="play" args="$(arg bag) --clock" />

  <!-- state publishers -->
  <param name="robot_description" textfile="$(find adrien_driver)/urdf/adrien.urdf" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <!--rqt plot-->
  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" output="screen"/>

  <arg name="localizer_manager_name" default="multizone_lidar_pointcloud_converters" />
  <arg name="localizer_manager_threads" default="20" />
  <node pkg="nodelet" type="nodelet" name="$(arg localizer_manager_name)" args="manager" output="screen">
    <param name="num_worker_threads" value="$(arg localizer_manager_threads)" />
  </node>

  <!-- transform -->
  <node name="level_plane_tf_broadcaster" pkg="localization_in_pipe"
    type="level_plane_tf_broadcaster"
    output="screen" />

  <node pkg="nodelet" type="nodelet" name="multizone_lidar_pointcloud_merger"
    args="load localization_in_pipe/pointcloud_merger_nodelet $(arg localizer_manager_name)">
    <param name="num_sensors" value="8" />
    <remap from="input_0" to="/multi_zone_lidar_left/scan_level_plane" />
    <remap from="input_1" to="/multi_zone_lidar_right/scan_level_plane" />
    <remap from="input_2" to="/multi_zone_lidar_front_left/scan_level_plane" />
    <remap from="input_3" to="/multi_zone_lidar_front_right/scan_level_plane" />
    <remap from="input_4" to="/multi_zone_lidar_rear_left/scan_level_plane" />
    <remap from="input_5" to="/multi_zone_lidar_rear_right/scan_level_plane" />
    <remap from="input_6" to="/multi_zone_lidar_bottom/scan_level_plane" />
    <remap from="input_7" to="/multi_zone_lidar_top/scan_level_plane" />
    <remap from="merged_pointcloud" to="/multi_zone_lidar/scan_level_plane_merged" />
  </node>

  <node pkg="localization_in_pipe" type="ransac_cylinder_estimator" name="ransac_cylinder_estimator">
    <remap from="input" to="/multi_zone_lidar/scan_level_plane_merged" />
  </node>

  <!-- Converters -->

  <arg name="manager_name" default="move_ukf_nodelet_manager" />
  <arg name="manager_threads" default="20" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen">
    <param name="num_worker_threads" value="$(arg manager_threads)" />
  </node>

  <node pkg="nodelet" type="nodelet" name="flow_range_integrator_bottom"
    args="load localization_in_pipe/flow_range_integrator_nodelet $(arg manager_name)">
    <rosparam file="$(find adrien_driver)/config/PMW3901.yaml" command="load" />
    <remap from="flow" to="/optical_flow_delta/bottom" />
    <remap from="range" to="/multi_zone_lidar_bottom/range" />
    <remap from="integrated_flow" to="/move_ukf/integrated_flow" />
    <remap from="integrated_flow_passthrough" to="/move_ukf/integrated_flow_bottom" />
    <param name="sensor_frame" value="optical_flow_bottom_link" />
    <param name="body_frame" value="base_link" />
    <param name="marker_ns" value="bottom_vel" />
  </node>

  <node pkg="nodelet" type="nodelet" name="flow_range_integrator_top"
    args="load localization_in_pipe/flow_range_integrator_nodelet $(arg manager_name)">
    <rosparam file="$(find adrien_driver)/config/PMW3901.yaml" command="load" />
    <remap from="flow" to="/optical_flow_delta/top" />
    <remap from="range" to="/multi_zone_lidar_top/range" />
    <remap from="integrated_flow" to="/move_ukf/integrated_flow" />
    <remap from="integrated_flow_passthrough" to="/move_ukf/integrated_flow_top" />
    <param name="sensor_frame" value="optical_flow_top_link" />
    <param name="body_frame" value="base_link" />
    <param name="marker_ns" value="top_vel" />
  </node>

  <node pkg="nodelet" type="nodelet" name="flow_range_integrator_left"
    args="load localization_in_pipe/flow_range_integrator_nodelet $(arg manager_name)">
    <rosparam file="$(find adrien_driver)/config/PMW3901.yaml" command="load" />
    <remap from="flow" to="/optical_flow_delta/left" />
    <remap from="range" to="/multi_zone_lidar_left/range" />
    <remap from="integrated_flow" to="/move_ukf/integrated_flow" />
    <remap from="integrated_flow_passthrough" to="/move_ukf/integrated_flow_left" />
    <param name="sensor_frame" value="optical_flow_left_link" />
    <param name="body_frame" value="base_link" />
    <param name="marker_ns" value="left_vel" />
  </node>

  <node pkg="nodelet" type="nodelet" name="flow_range_integrator_right"
    args="load localization_in_pipe/flow_range_integrator_nodelet $(arg manager_name)">
    <rosparam file="$(find adrien_driver)/config/PMW3901.yaml" command="load" />
    <remap from="flow" to="/optical_flow_delta/right" />
    <remap from="range" to="/multi_zone_lidar_right/range" />
    <remap from="integrated_flow" to="/move_ukf/integrated_flow" />
    <remap from="integrated_flow_passthrough" to="/move_ukf/integrated_flow_right" />
    <param name="sensor_frame" value="optical_flow_right_link" />
    <param name="body_frame" value="base_link" />
    <param name="marker_ns" value="right_vel" />
  </node>

  <node pkg="nodelet" type="nodelet" name="move_ukf"
    args="load localization_in_pipe/move_ukf_nodelet $(arg manager_name)">
    <remap from="integrated_flow" to="/move_ukf/integrated_flow" />
    <remap from="body_accel" to="/move_ukf/body_accel" />
    <remap from="body_angular_velocity" to="/move_ukf/body_angular_velocity" />
    <param name="process_noise_variance" value="0.001" />
    <param name="ukf_alpha" value="0.03" />
    <param name="ukf_beta" value="2.0" />
    <param name="ukf_kappa" value="0.0" />
  </node>

  <!-- visualization -->
  <node pkg="drone_sensor_analyzer" type="flow_delta_visualizer.py"
    name="flow_delta_visualizer_bottom" output="screen">
    <remap from="flow_delta" to="/optical_flow_delta/bottom" />
    <param name="namespace" value="bottom_delta" />
    <rosparam>color: [1, 0, 0, 1]</rosparam>
    <param name="delta_scale" value="1.0" />
  </node>
  <node pkg="drone_sensor_analyzer" type="flow_delta_visualizer.py"
    name="flow_delta_visualizer_left" output="screen">
    <remap from="flow_delta" to="/optical_flow_delta/left" />
    <param name="namespace" value="left_delta" />
    <rosparam>color: [0, 1, 0, 1]</rosparam>
    <param name="delta_scale" value="1.0" />
  </node>
  <node pkg="drone_sensor_analyzer" type="flow_delta_visualizer.py"
    name="flow_delta_visualizer_right" output="screen">
    <remap from="flow_delta" to="/optical_flow_delta/right" />
    <param name="namespace" value="right_delta" />
    <rosparam>color: [0, 0, 1, 1]</rosparam>
    <param name="delta_scale" value="1.0" />
  </node>

  <node pkg="drone_sensor_analyzer" type="integrated_flow_visualizer.py"
    name="integrated_flow_visualizer_bottom" output="screen">
    <remap from="integrated_flow" to="/move_ukf/integrated_flow_bottom" />
    <remap from="marker" to="integrated_flow_marker" />
    <param name="namespace_prefix" value="bottom" />
    <rosparam>color_velocity: [1, 0, 0, 1]</rosparam>
    <rosparam>color_range: [1, 1, 1, 0.3]</rosparam>
    <rosparam>color_camera: [0, 0, 0, 0.3]</rosparam>
  </node>

  <node pkg="drone_sensor_analyzer" type="integrated_flow_visualizer.py"
    name="integrated_flow_visualizer_top" output="screen">
    <remap from="integrated_flow" to="/move_ukf/integrated_flow_top" />
    <remap from="marker" to="integrated_flow_marker" />
    <param name="namespace_prefix" value="top" />
    <rosparam>color_velocity: [1, 0, 0, 1]</rosparam>
    <rosparam>color_range: [1, 1, 1, 0.3]</rosparam>
    <rosparam>color_camera: [0, 0, 0, 0.3]</rosparam>
  </node>

  <node pkg="drone_sensor_analyzer" type="integrated_flow_visualizer.py"
    name="integrated_flow_visualizer_left" output="screen">
    <remap from="integrated_flow" to="/move_ukf/integrated_flow_left" />
    <remap from="marker" to="integrated_flow_marker" />
    <param name="namespace_prefix" value="left" />
    <rosparam>color_velocity: [0, 1, 0, 1]</rosparam>
    <rosparam>color_range: [1, 1, 1, 0.3]</rosparam>
    <rosparam>color_camera: [0, 0, 0, 0.3]</rosparam>
  </node>

  <node pkg="drone_sensor_analyzer" type="integrated_flow_visualizer.py"
    name="integrated_flow_visualizer_right" output="screen">
    <remap from="integrated_flow" to="/move_ukf/integrated_flow_right" />
    <remap from="marker" to="integrated_flow_marker" />
    <param name="namespace_prefix" value="right" />
    <rosparam>color_velocity: [0, 0, 1, 1]</rosparam>
    <rosparam>color_range: [1, 1, 1, 0.3]</rosparam>
    <rosparam>color_camera: [0, 0, 0, 0.3]</rosparam>
  </node>

</launch>
