<!-- FILEPATH: /home/wachinaba/catkin_ws/src/drone_in_pipe/adrien_driver/launch/recorder.launch -->

<launch>
  <node name="camera_recorder" pkg="rosbag" type="record" output="screen" args="-e '/camera/color/camera_info|/camera/color/image_raw|/camera/color/metadata|/camera/depth/camera_info|/camera/depth/image_rect_raw|/camera/depth/metadata|/camera/extrinsics/depth_to_color' -o camera_bagfile" />
</launch>
