<launch>
  <!-- First rosserial serial node -->
  <node pkg="rosserial_python" type="serial_node.py" name="sensor_serial_node_1">
    <param name="port" value="/dev/ttyAMA0"/>
    <param name="baud" value="230400"/>
    <remap from="/multizone_range/0" to="/front_lidars/0"/>
    <remap from="/multizone_range/1" to="/front_lidars/1"/>
    <remap from="/multizone_range/2" to="/front_lidars/2"/>
    <remap from="/multizone_range/3" to="/front_lidars/3"/>
    <remap from="/optical_flow_delta/0" to="/optical_flow_delta/bottom"/>
    <remap from="/optical_flow_delta/1" to="/optical_flow_delta/top"/>
  </node>

  <!-- Second rosserial serial node -->
  <node pkg="rosserial_python" type="serial_node.py" name="sensor_serial_node_2">
    <param name="port" value="/dev/ttyAMA2"/>
    <param name="baud" value="230400"/>
    <remap from="/multizone_range/0" to="/rear_lidars/0"/>
    <remap from="/multizone_range/1" to="/rear_lidars/1"/>
    <remap from="/multizone_range/2" to="/rear_lidars/2"/>
    <remap from="/multizone_range/3" to="/rear_lidars/3"/>
    <remap from="/optical_flow_delta/2" to="/optical_flow_delta/left"/>
    <remap from="/optical_flow_delta/3" to="/optical_flow_delta/right"/>
  </node>

  <!-- multizone converter -->
  <node pkg="multizone_lidar" type="multizone_range_converter_node" name="multizone_range_converter_node_0">
    <remap from="/multizone_range" to="/front_lidars/0"/>
    <remap from="/pointcloud" to="/front_lidars/0/pointcloud"/>
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="multizone_lidar" type="multizone_range_converter_node" name="multizone_range_converter_node_1">
    <remap from="/multizone_range" to="/front_lidars/1"/>
    <remap from="/pointcloud" to="/front_lidars/1/pointcloud"/>
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="multizone_lidar" type="multizone_range_converter_node" name="multizone_range_converter_node_2">
    <remap from="/multizone_range" to="/front_lidars/2"/>
    <remap from="/pointcloud" to="/front_lidars/2/pointcloud"/>
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="multizone_lidar" type="multizone_range_converter_node" name="multizone_range_converter_node_3">
    <remap from="/multizone_range" to="/front_lidars/3"/>
    <remap from="/pointcloud" to="/front_lidars/3/pointcloud"/>
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="multizone_lidar" type="multizone_range_converter_node" name="multizone_range_converter_node_4">
    <remap from="/multizone_range" to="/rear_lidars/0"/>
    <remap from="/pointcloud" to="/rear_lidars/0/pointcloud"/>
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="multizone_lidar" type="multizone_range_converter_node" name="multizone_range_converter_node_5">
    <remap from="/multizone_range" to="/rear_lidars/1"/>
    <remap from="/pointcloud" to="/rear_lidars/1/pointcloud"/>
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="multizone_lidar" type="multizone_range_converter_node" name="multizone_range_converter_node_6">
    <remap from="/multizone_range" to="/rear_lidars/2"/>
    <remap from="/pointcloud" to="/rear_lidars/2/pointcloud"/>
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="multizone_lidar" type="multizone_range_converter_node" name="multizone_range_converter_node_7">
    <remap from="/multizone_range" to="/rear_lidars/3"/>
    <remap from="/pointcloud" to="/rear_lidars/3/pointcloud"/>
    <param name="frame_id" value="map"/>
  </node>

</launch>
