<launch>
  <!-- state publishers -->
  <param name="robot_description" textfile="$(find adrien_driver)/urdf/adrien.urdf" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- RViz launch -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find adrien_driver)/rviz/urdf_view.rviz" required="true" />

  

</launch>
