<?xml version="1.0"?>
<model>
    <name>adrienne</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>wachinaba</name>
        <email>wachinaba@gmail.com</email>
    </author>
    <description>adrienne - the Autonomous DRone for Indoor ENviroNmEnts</description>
</model>