<?xml version="1.0"?>
<launch>
  <arg name="serial_port" default="/dev/ttyUSB1"/>
  <arg name="server_ip" default="192.168.1.35"/>
  <arg name="local_ip" default="192.168.1.237"/>
  <arg name="multicast_ip" default="224.0.0.1"/>

  <!-- mocap_optical_flow node -->
  <include file="$(find optitrack)/launch/optitrack.launch">
    <arg name="server" value="$(arg server_ip)"/>
    <arg name="local" value="$(arg local_ip)"/>
    <arg name="multicast_group" value="$(arg multicast_ip)"/>
  </include>

  <!-- drone_sensor_analyzer node -->
  <node name="mocap_optical_flow_to_csv" pkg="drone_sensor_analyzer" type="mocap_optical_flow_to_csv.py" output="screen">
    <remap from="/pose" to="/drone/world"/>
    <remap from="/range" to="/multi_zone_lidar_bottom/range"/>
    <remap from="/optical_flow_delta" to="/optical_flow_delta/bottom"/>
    <param name="csv_file" value="/home/wachinaba/flow"/>
  </node>

</launch>